body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.event__funding {
  color: green
}

.event__funding__raised {
  font-weight: bold;
  font-size: 46px;
}

.event__details { 
  background: #e5e5e5;
    border: 1px solid #32323221
}