body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background: #f7f7f7;
}

.event__funding {
  color: green
}

.event__funding__raised {
  font-weight: bold;
  font-size: 46px;
}

.event__details { 
  background: #e5e5e5;
    border: 1px solid #32323221
}

.event__progress.progress {
  height: 40px;
  border-radius: 0 !important;
}

.event__progress_meter {
  background: #19d319 !important
}